@media(max-width: 1280px){
    body{
        height: 100vh;
    }

    .conteudo-principal{
        flex-flow: row wrap;
        align-items: center;
        text-align: center;
    }

    .conteudo-principal .mockup img{
        width: 450px;
    }
}

@media(max-width: 1080px){
    body{
        height: 100vh;
    }

    .container{
        max-height: 100vh;
        padding: 30px;
        margin: 30px;
    }

    .conteudo-principal{
        flex-flow: wrap;
        justify-content: center;
    }

    .conteudo-principal .informacoes .informacao{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .conteudo-principal .informacoes .informacao .btn-register,
    .conteudo-principal .informacoes .redes-sociais {
        justify-content: center;
    }
}

@media(max-width: 480px) {
    body{
        background: url(../imagens/bg-mobile.svg) no-repeat;
        background-size: 50% cover;
        background-color: var(--violeta);
        height: 50%;
        overflow-x: hidden;
    }

    .conteudo-principal .logo{
        padding: 35px 35px;
        text-align: center;
    }

    .conteudo-principal .logo img{
        width: 130px;
        height: auto;
    }
    
    .conteudo-principal{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        gap: 10;
    }

    .conteudo-principal .mockup img{
        width: 250px;
        margin: 26px 40px;
    }

    .conteudo-principal .informacoes{
        width: 100%;
        padding: 0;
        gap: 10px;
    }

    .conteudo-principal .informacoes .informacao .titulo{
        font-size: 2.5rem;
    }

    .conteudo-principal .informacoes .informacao .texto{
        font-size: 1.6rem;
        padding: 0 15px;
        line-height: 20px;
    }

    .conteudo-principal .informacoes .informacao .btn-register{
        font-size: 1.3rem;
    }

    .conteudo-principal .informacoes .redes-sociais{
        justify-content: center;
    }

    .conteudo-principal .informacoes .redes-sociais i{
        font-size: 1.6rem;
        align-items: center;
    }
}

@media(max-width: 320px){
    .conteudo-principal .informacoes .informacao .texto{
        padding: 0 25px;
    }
}