@media(max-width: 1280px){
    body{
        height: 100vh;
    }

    .container{
        flex-flow: row wrap;
        align-items: center;
        text-align: center;
    }

    .container img{
        width: 500px;
    }
}

@media(max-width: 1080px){
    body{
        height: 100vh;
    }

    .container{
        flex-flow: wrap;
        justify-content: center;
    }

    .container .informacao{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container .informacoes .btn-register,
    .container .informacoes .redes-sociais {
        justify-content: center;
    }
}

@media(max-width: 480px) {
    body{
        background: url(../imagens/bg-mobile.svg) center center no-repeat;
        background-size: cover;
        background-color: var(--violeta);
        height: 50vh;
    }

    .logo{
        padding: 35px 35px;
        text-align: center;
    }

    .logo img{
        width: 130px;
        height: auto;
    }
    
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        gap: 0;
    }

    .container .mockup img{
        width: 300px;
        margin: 26px 40px;
    }

    .container .informacoes{
        width: 100%;
        padding: 0;
        gap: 10px;
    }

    .container .informacoes .informacao .titulo{
        font-size: 2.4rem;
    }

    .container .informacoes .informacao .texto{
        font-size: 1.6rem;
        padding: 0;
        line-height: 20px;
    }

    .container .informacoes .informacao .btn-register{
        font-size: 1.3rem;
    }

    .container .informacoes .redes-sociais{
        justify-content: center;
    }

    .container .informacoes .redes-sociais i{
        font-size: 2rem;
        align-items: center;
    }
}